.about-us {
  margin-top: 130px;
  margin-bottom: 106px;

  padding: 0 140px;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;

  .about-us-title {
    color: #041e50;
    font-size: 26px;
    font-weight: bold;
  }
  .about-us-desc {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    color: #222222;
  }
}
