.stripe-footer-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 12px 0;

  p {
    font-weight: 400;
    font-size: 10px;
    color: #010101;
  }

  div {
    display: flex;
    align-items: center;
  }

  .econverse-logo {
    margin-right: 49px;
    width: 101px;
    height: 42px;
  }

  .vtex-logo {
    width: 84px;
    height: 31px;
  }
}
